body {
  background: @color-white;
  font-family: 'Open Sans', sans-serif;
}

.site-footer {
  background: @color-neutral;
}

.homepage {
  .module-search {
    .module-content {
      background-color: @color-primary;
    }
    .tags {
      background-color: @color-secondary;
    }
  }
}

.hero {
  background-size: cover;
  background-position: center;
  background-color: @color-secondary;
}

.hero-default-background {
  background-size: auto;
}

.hero-search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .image-credit {
    text-align: center;
    display: block;
    padding: @grid-gutter-width/4;
    position: absolute;
    bottom: -10px;
    color: @color-white;
    font-size: x-small;
    a {
      color: currentColor;
      text-decoration: underline;
    }
  }
}

.hero-search-symbol {
  max-width: @grid-gutter-width*4;
  margin: 0 @grid-gutter-width @grid-gutter-width/2; // .css-filter(invert(100%));
}

.wrapper {
  border: none;
  box-shadow: none;
}

[role=main],
.main {
  &:not(.hero) {
    background: @color-white;
  }
}

#content {
  .wrapper {
    background: transparent;
  }
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  .inputs-style;
}

.list-wide {
  li {
    &:not(:first-child) {
      margin-left: @grid-gutter-width/3;
    }
    &:not(:last-child) {
      margin-right: @grid-gutter-width/3;
    }
  }
}

@media (min-width: @screen-tablet) {
  .span9 {
    .page-header {
      margin-left: 0;
    }
  }
}
