.account-masthead {
  .account {
    ul {
      li {
        border-left: transparent;
      }
    }
  }
}

.masthead {
  padding-top: @grid-gutter-width;
  padding-bottom: @grid-gutter-width;
  min-height: auto;
  .logo {
    display: inline-block;
  }
  @media (max-width: @screen-tablet) {
    .container-fluid {
      padding-left: @grid-gutter-width - 10;
      padding-right: @grid-gutter-width - 10;
    }
  }
  .btn-navbar {
    &,
    &:hover,
    &:focus {
      margin-top: 0;
    }
  }
  input[type="text"] {
    .inputs-style;
  }
  .twitter {
    display: none;
    @media (min-width: @screen-desktop) {
      display: inline-block;
      margin-top: 3px;
      &+.site-search {
        margin-left: @grid-gutter-width;
      }
    }
    a {
      color: #1DA1F2;
    }
    img {
      position: relative;
      bottom: 3px;
      margin-right: @grid-gutter-width/6;
    }
  }
}

.header-image {
  max-width: @grid-gutter-width*9;
}

.header-text-logo {
  h1 {
    margin: 0;
  }
}