/* Navigation */

.nav-pills-active-bg-color {
  border-radius: @grid-gutter-width/2;
}

.inputs-style {
  &:focus {
    box-shadow: none;
  }
}

.css-filter(@filter) {
  -webkit-filter: @filter;
  -moz-filter: @filter;
  -ms-filter: @filter;
  filter: @filter;
}

.marked-filter-border-radius(@radius: @grid-gutter-width/2) {
  border-top-left-radius: @radius;
  border-bottom-left-radius: @radius;
  &:hover {
    border-radius: @radius;
  }
}

.flex {
  display: flex;
}

.nav-item-before-reset {
  height: auto;
  width: auto;
  background-image: none;
}