.news-header {
  background-color: @color-neutral-light-2x;
  padding: @grid-gutter-width/5 @grid-gutter-width/2;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn {
    &:hover {
      background-color: @color-white;
    }
  }
}

.news-header-title {
  text-transform: uppercase;
  flex-grow: 2;
}

.news-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: @color-neutral-dark;
  @media (min-width: @screen-tablet) {
    min-height: @grid-gutter-width*12;
  }
  margin: (@grid-gutter-width - 10) 0 @grid-gutter-width;
  border: 1px solid @color-neutral-light-2x;
  transition: 200ms padding-top ease-in-out 20ms;
  &:hover,
  &:focus {
    transition: 200ms box-shadow ease-in-out 10ms;
    box-shadow: 0 0 @grid-gutter-width @color-neutral-light;
    color: @color-neutral-dark;
    text-decoration: none;
  }
}

.news-item-title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-top: @grid-gutter-width - 10;
}

.news-item-description {
  position: relative;
  display: block;
  margin: @grid-gutter-width/2 0;
}

.news-item-title,
.news-item-description {
  margin-left: @grid-gutter-width/2;
  margin-right: @grid-gutter-width/2;
}

.news-item-photo {
  margin: 0;
  max-height: @grid-gutter-width*5;
  overflow: hidden;
  img {
    min-width: 100%;
    max-width: 100%;
  }
}