.search{
  font-family: inherit;
}

.control-order-by {
  select {
    border-radius: @grid-gutter-width/2;
  }
}

.module-content{
  .search-form {
    .search-input {
      margin-bottom: @grid-gutter-width + 10;
    }
  }
}

.search-giant {
  padding: 0;
  border: 0;
  &.search-input {
    input {
      border-radius: @grid-gutter-width;
    }
  }
}

#field-user-search,
#field-sitewide-search {
  border-radius: @grid-gutter-width/2;
}