/* Colors */

@color-neutral-dark: #4b5363;
@color-neutral: #6d778a;
@color-neutral-light: #caced7;
@color-neutral-light-2x: lighten(@color-neutral-light, 8%);
@color-neutral-light-3x: lighten(@color-neutral-light, 15%);
@color-primary: #168198;
@color-secondary: #78388e;
@color-white: #ffffff;

/* Fonts */

@baseFontSize: 14px;

/* Responsive */

@screen-phone: 480px;
@screen-tablet: 768px;
@screen-default: 980px;
@screen-desktop: 1200px;

/* Grid */

@grid-gutter-width: 30px;