{% set placeholder = _('Search (e.g. "Parking" or "Schools")') %}

{% if app_globals.site_symbol_url %}
  {% if not app_globals.site_symbol_url.startswith('http') %}
    {% set site_symbol_url = h.url_for_static('uploads/admin/' + app_globals.site_symbol_url) %}
  {% else %}
    {% set site_symbol_url = app_globals.site_symbol_url %}
  {% endif %}
{% endif %}

{% if site_symbol_url %}
  <img class="hero-search-symbol" src="{{ site_symbol_url }}" alt="{{ g.site_title }} logo"/>
{% endif %}
<div id="content" class="module module-hero-search module-narrow module-shallow">
  <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <div class="search-input control-group search-giant">
      <label class="visuallyhidden" for="search-form">Search box</label>
      <input type="text" class="search" name="q" id="search-form" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button type="submit">
        <i class="fa fa-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
</div>

{% if app_globals.hero_image_license_text %}
  <div class="image-credit">
    {{ h.render_markdown(app_globals.hero_image_license_text) }}
  </div>
{% endif %}
