{% if app_globals.hero_image_url %}
  {% if not app_globals.hero_image_url.startswith('http') %}
    {% set hero_image_url = h.url_for_static('uploads/admin/' + app_globals.hero_image_url) %}
  {% else %}
    {% set hero_image_url = app_globals.hero_image_url %}
  {% endif %}
{% endif %}

<div role="main"
  {% if hero_image_url %}
    class="hero hero-search"
    style="background: url({{ hero_image_url }})"
  {% else %}
    class="hero hero-search hero-default-background"
  {% endif %}
>
  {% block search %} {% snippet 'home/snippets/hero_search.html' %} {% endblock %}
</div>
<div class="container">
  <div class="module module-topics">
    <ul class="module-topics-list">
      {% set groups = h.tayside_get_groups() %}
      {% for group in groups %}
        {% set group_url = h.url_for(controller='group', action='read', id=group.name) %}

        {% if group.image_display_url %}
          {% set group_image = group.image_display_url %}
        {% else %}
          {% set group_image = '/base/images/placeholder-group.png' %}
        {% endif %}

        <li>
          <a href="{{ group_url }}" class="topic">
            <img class="topic-icon" src="{{ group_image }}" alt="{{ group.title }}">
            <span class="topic-title">{{ group.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div role="main">
  <div class="container">
    <div class="news">
      <div class="news-header">
        <h3 class="news-header-title">{{ _('In the News') }}</h3>
        <a class="btn btn-small btn-news-archive" href="#">{{ _('News Аrchive') }}</a>
      </div>
      <div class="row">
        <div class="span4">
          <a href="#" class="news-item">
            <figure class="news-item-photo">
              <img src="/base/images/background-tile.png" alt="">
            </figure>
            <span class="news-item-title">Praesent consectetur vulputate dolor</span>
            <span class="news-item-description">Quisque eleifend nulla et fringilla blandit. Vestibulum pretium mi nisi. Pellentesque aliquet vel felis consectetur egestas.</span>
          </a>
        </div>
        <div class="span4">
          <a href="#" class="news-item">
            <figure class="news-item-photo">
              <img src="http://www.pkc.gov.uk/media/40102/Mecanoo-City-Hall/article-feature/city_hall" alt="">
            </figure>
            <span class="news-item-title">Quisque ullamcorper faucibus quam</span>
            <span class="news-item-description">Nam nec mauris est. Cras euismod massa leo, vitae placerat nibh tincidunt quis. Nullam dignissim ipsum vehicula dapibus cursus. Donec bibendum nibh nibh. Sed lectus nibh, dignissim sed erat at, rutrum vestibulum sem.</span>
          </a>
        </div>
        <div class="span4">
          <a href="#" class="news-item">
            <figure class="news-item-photo">
              <img src="http://www.pkc.gov.uk/media/40112/City-of-Perth-Salute/article-feature/Perth_salute_Feature_CLIENT" alt="">
            </figure>
            <span class="news-item-title">Aliquam sit amet vulputate turpis, at interdum justo</span>
            <span class="news-item-description">Phasellus laoreet elit tellus, et posuere urna tincidunt at. Integer volutpat efficitur enim, ac interdum lacus luctus non. Vivamus molestie, purus eget maximus rutrum, augue justo tristique velit, at dignissim massa magna id tellus.</span>
          </a>
        </div>
      </div>
    </div>
    <!-- .news -->
    <div class="organization-logos">
      <a href="#">
        <figure>
          <img src="https://github.com/ViderumGlobal/ckanext-tayside/raw/master/smart.png" alt="">
          <!-- <figcaption>Organization name</figcaption> -->
        </figure>
      </a>
      <a href="#">
        <figure>
          <img src="https://github.com/ViderumGlobal/ckanext-tayside/raw/master/euro_scot.png" alt="">
          <!-- <figcaption>Organization name</figcaption> -->
        </figure>
      </a>
      <a href="#">
        <figure>
          <img src="/base/images/ckan-logo.svg" alt="">
          <!-- <figcaption>Organization name</figcaption> -->
        </figure>
      </a>
      <a href="#">
        <figure>
          <img src="/base/images/viderum-logo.png" alt="">
          <!-- <figcaption>Organization name</figcaption> -->
        </figure>
      </a>
    </div>
    <!-- .organization-logos -->
  </div>
</div>
