{% resource 'tayside/js/lib/rename-image-macro-id.js' %}

{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block admin_form %}
  {{ super() }}

  {{ form.input('twitter_username', label=_('Twitter'), value=data.twitter_username, error=error, placeholder=_('Your Twitter username'), classes=['control-full']) }}

  {% snippet 'admin/snippets/tayside_hero_image.html', data=data, errors=errors %}

  {{ form.markdown('hero_image_license_text', label=_('Attribution'), placeholder=_('Attribution and licensing information for Hero image'), value=data.hero_image_license_text) }}

  {% snippet 'admin/snippets/tayside_site_symbol.html', data=data, errors=errors %}
{% endblock %}
