{% ckan_extends %}

{%- block content %}
  {% block maintag %}
    <div role="main">
  {% endblock %}
  {% block main_content %}
    <div class="container-fluid">
      {% block toolbar %}
      {{ super() }}
      {% endblock %}
    </div>
    <div class="container">
      {% block flash %}
        {{ super() }}
      {% endblock %}
    </div>
    <div id="content" class="container">
      <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' %} no-nav{% endif %}">
        {% block pre_primary %}
          {{ super() }}
        {% endblock %}

        {% block primary %}
          {{ super() }}
        {% endblock %}

        {% block secondary %}
          {{ super() }}
        {% endblock %}
      </div>
    </div>
  {% endblock %}
</div>
{% endblock -%}

{%- block footer %}
  {% set logos = h.tayside_get_footer_logos() %}

  {% if logos|length > 0 %}
    <div class="organization-logos">
      <div class="container">
        {% for logo in logos %}
          {% if not logo.logo_image_url.startswith('http') %}
            {% set logo_image_url = h.url_for_static('uploads/admin/' + logo.logo_image_url) %}
          {% else %}
            {% set logo_image_url = logo.logo_image_url %}
          {% endif %}

          <a href="{{ logo.logo_link_url }}" target="_blank">
            <figure>
              <img src="{{ logo_image_url }}">
              <figcaption>{{ logo.logo_text }}</figcaption>
            </figure>
          </a>
        {% endfor %}
      </div>
    </div>
    <!-- .organization-logos -->
  {% endif %}

  {{ super() }}
{% endblock -%}
