/* Theme LESS assets */
/* Fonts */
/* Responsive */
/* Grid */
/* Navigation */
.nav-pills-active-bg-color {
  border-radius: 15px;
}
.inputs-style:focus {
  box-shadow: none;
}
.flex {
  display: flex;
}
.nav-item-before-reset {
  height: auto;
  width: auto;
  background-image: none;
}
.hero {
  background-size: cover;
  background-position: center;
}
.hero-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.hero-search .image-credit {
  position: absolute;
  text-align: center;
  display: block;
  padding: 7.5px;
  bottom: -10px;
  font-size: x-small;
}
.hero-search .image-credit a {
  color: currentColor;
  text-decoration: underline;
}
.hero-search-symbol {
  max-width: 120px;
  margin: 0 30px 15px;
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .span9 {
    width: 880px;
  }
}
.wrapper {
  border: none;
  box-shadow: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .wrapper {
    margin: 0;
  }
}
/* Required for IE 11 because of this bug: https://goo.gl/LdrTn4 */
_:-ms-fullscreen,
:root [role=main].hero-search {
  height: 350px;
}
#content .wrapper {
  background: transparent;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: none;
}
.list-wide li:not(:first-child) {
  margin-left: 10px;
}
.list-wide li:not(:last-child) {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .span9 .page-header {
    margin-left: 0;
  }
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.account-masthead .account ul li {
  border-left: transparent;
}
.masthead {
  color: inherit;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: auto;
}
.masthead .logo {
  display: inline-block;
  max-width: 270px;
}
@media (max-width: 768px) {
  .masthead .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.masthead .btn-navbar,
.masthead .btn-navbar:hover,
.masthead .btn-navbar:focus {
  margin-top: 0;
}
.masthead input[type="text"]:focus {
  box-shadow: none;
}
.masthead .twitter {
  display: none;
}
@media (min-width: 1200px) {
  .masthead .twitter {
    display: inline-block;
    margin-top: 3px;
  }
  .masthead .twitter + .site-search {
    margin-left: 30px;
  }
}
.masthead .twitter a {
  color: #1DA1F2;
}
.masthead .twitter img {
  position: relative;
  bottom: 3px;
  margin-right: 5px;
}
.language-picker {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 30px;
  padding: 0;
}
@media (max-width: 980px) {
  .language-picker {
    position: absolute;
    top: 153px;
    right: 30px;
  }
}
@media (max-width: 768px) {
  .language-picker {
    right: 50px;
  }
}
@media (max-width: 360px) {
  .language-picker {
    display: none;
  }
}
.language-picker li {
  display: inline;
  float: left;
}
.language-picker li.active a {
  font-weight: 700;
}
.language-picker li a {
  display: inline-block;
  padding: 10px 15px;
}
.language-picker li a:hover {
  text-decoration: none;
}
.header-text-logo h1 {
  margin: 0;
}
.btn {
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .nav-main .nav-collapse .nav {
    margin-bottom: 30px;
  }
}
.nav-main .nav-collapse .nav > li a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .nav-main .nav-collapse .nav > li a {
    margin: 0 15px;
  }
}
.nav-main .nav {
  margin-top: 15px;
  margin-bottom: 15px;
}
.nav-main .nav a {
  margin: 0;
  padding: 7.5px 15px;
}
@media (min-width: 1200px) {
  .nav-main .nav > li:not(:first-child) {
    margin-left: 7.5px;
  }
}
.nav-simple .nav-item .active {
  border-radius: 30px 0 0 30px;
}
.nav-item.active a:before,
.nav-aside.active a:before {
  height: auto;
  width: auto;
  background-image: none;
}
/* All modules */
.module:first-child .module-heading {
  border-radius: 15px;
  border: none;
  overflow: auto;
}
.module:first-child .module-heading .fa:last-child {
  margin-right: 3px;
}
.module div.module-content:first-child {
  padding-top: 0;
}
.module-shallow .module-content:first-child {
  padding-top: 0;
}
.module-shallow .module-content:last-child {
  padding-bottom: 0;
}
.context-info .module-content:first-child {
  padding-top: 0;
}
.module-heading {
  border-radius: 15px;
  border: none;
  overflow: auto;
}
.module-resource {
  margin-bottom: 30px;
}
.module-narrow .nav-item > a {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.module-narrow .nav-item > a:hover {
  border-radius: 15px;
}
.module-narrow .nav-item.active a:hover {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.module-narrow .nav-aside li a {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.module-narrow .nav-aside li a:hover {
  border-radius: 15px;
}
/* Search */
.module-hero-search {
  width: 50%;
  padding: 0;
}
@media (min-width: 1200px) {
  .module-hero-search {
    width: 35%;
  }
}
@media (max-width: 768px) {
  .module-hero-search {
    width: 80%;
  }
}
.module-hero-search:last-child {
  margin: 0;
}
.module-hero-search .search-form {
  border: none;
  margin-bottom: 0;
}
.module-hero-search .search-input {
  margin-bottom: 0;
}
.module-hero-search .search-input input {
  border-width: 3px;
}
.search-form .search-input.search-giant button {
  margin-top: -15px;
}
/* Topics */
.module-topics:last-child {
  margin-bottom: 0;
}
.module-topics-list {
  margin: 0;
  list-style: none;
  text-align: center;
}
.module-topics-list .topic {
  padding: 15px;
  display: block;
  font-weight: 700;
}
.module-topics-list .topic-title {
  margin-top: 10px;
  display: block;
  text-transform: uppercase;
}
.module-topics-list li {
  max-width: 126px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.span9 div.module-content {
  padding-left: 25px;
}
.toolbar .breadcrumb {
  font-size: 14px;
}
.toolbar .breadcrumb li {
  margin-right: 6px;
}
.toolbar .breadcrumb li:after {
  margin-left: 6px;
}
.toolbar .breadcrumb a {
  font-weight: 400;
}
.news {
  margin: 15px 0;
}
.news-header {
  padding: 6px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-header-title {
  text-transform: uppercase;
  flex-grow: 2;
}
.news-items-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 980px) {
  .news-items-container {
    flex-direction: row;
  }
}
.news-item {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  transition: 200ms padding-top ease-in-out 20ms;
}
@media (max-width: 980px) {
  .news-item {
    margin-top: 20px;
  }
  .news-item .news-item-photo img {
    min-width: 100%;
    max-width: 0;
  }
}
@media (min-width: 980px) {
  .news-item {
    max-width: 33.33%;
    margin: 20px 0 0 15px;
  }
  .news-item:first-child {
    margin-left: 0;
  }
}
.news-item:hover,
.news-item:focus {
  transition: 200ms box-shadow ease-in-out 10ms;
  text-decoration: none;
}
.news-item-title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-top: 20px;
}
.news-item-description {
  position: relative;
  display: block;
  margin: 15px 0;
}
.news-item-title,
.news-item-description {
  margin-left: 15px;
  margin-right: 15px;
}
.news-item-photo {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  max-height: 150px;
  overflow: hidden;
}
.news-item-photo img {
  min-height: 150px;
  min-width: inherit;
  max-width: inherit;
}
.add-dataset-modal {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  z-index: 1050;
  display: none;
}
.add-dataset-modal-box {
  display: table-cell;
  background-color: #ffffff;
  border: 1px solid #999;
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
  outline: none;
  text-align: center;
}
.add-dataset-modal-description {
  margin-top: 30px;
}
.add-dataset-modal-description p {
  font-weight: bold;
}
.add-dataset-modal-description ul {
  text-align: left;
}
.add-dataset-modal .close {
  font-size: 35px;
  color: white;
  position: relative;
  top: -32px;
}
.add-dataset-modal-backdrop {
  display: none;
}
#dataset-resources {
  border: 1px solid #dddddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#dataset-resources h3,
#dataset-resources .search-form {
  display: inline;
}
.resource-list {
  margin-top: 15px;
}
.validate-resource li {
  width: 33.333333%;
}
.validate-resource-report-header {
  margin-bottom: 30px;
}
.validate-resource-report-error-count {
  margin-bottom: 20px;
}
.search {
  font-family: inherit;
}
.control-order-by select {
  border-radius: 15px;
}
.module-content .search-form .search-input {
  margin-bottom: 40px;
}
.search-giant {
  padding: 0;
  border: 0;
}
.search-giant.search-input input {
  border-radius: 30px;
}
#field-user-search,
#field-sitewide-search {
  border-radius: 15px;
}
.organization-logos {
  padding: 15px 0;
}
.organization-logos .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .organization-logos .container {
    flex-direction: column;
  }
}
.organization-logos figure {
  margin: 15px 30px;
  min-width: 150px;
  text-align: center;
}
.organization-logos figure img {
  max-width: 100%;
  max-height: 90px;
}
.organization-logos figure figcaption {
  display: none;
  margin: 15px 0;
}
.js .image-upload input[type=file] {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  opacity: 0;
}
.nav-tabs .fa:last-child,
.module-heading .fa:last-child,
.btn .fa:last-child {
  margin-right: 3px;
}
.media-grid {
  margin: 0;
}
.media-item {
  width: 159px;
}
.resource-tracking-summary {
  margin-top: -20px !important;
  border-top: none !important;
}
