@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic';
/* Colors */
/* Fonts */
/* Responsive */
/* Grid */
/* Navigation */
.nav-pills-active-bg-color {
  background-color: #78388e;
}
.inputs-style {
  border-color: #caced7;
}
.inputs-style:focus {
  border-color: #168198;
  box-shadow: none;
}
body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
.site-footer {
  background: #6d778a;
}
.homepage .module-search .module-content {
  background-color: #168198;
}
.homepage .module-search .tags {
  background-color: #78388e;
}
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-search-symbol {
  max-width: 150px;
  margin: 15px 30px;
}
.wrapper {
  border: none;
  box-shadow: none;
}
[role=main]:not(.hero),
.main:not(.hero) {
  background: #ffffff;
}
#content .wrapper {
  background: transparent;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-color: #caced7;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #168198;
  box-shadow: none;
}
.account-masthead {
  background-color: #caced7;
}
.account-masthead .account .notifications a span.badge {
  background-color: #168198;
}
.account-masthead .account ul li {
  border-left: transparent;
}
.account-masthead .account ul li a {
  color: #4b5363;
}
.account-masthead .account ul li a:hover {
  background-color: #4b5363;
}
.masthead {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.masthead a {
  color: #168198;
}
.masthead .btn-navbar {
  background-color: #6d778a;
}
.masthead .btn-navbar:hover,
.masthead .btn-navbar:focus {
  background-color: #168198;
}
.masthead .site-search {
  margin-top: 15px;
  margin-bottom: 15px;
}
.masthead input[type="text"] {
  border-color: #caced7;
}
.masthead input[type="text"]:focus {
  border-color: #168198;
  box-shadow: none;
}
.btn {
  background-image: none;
  border-color: transparent;
  box-shadow: none;
}
.btn-primary {
  background-color: #168198;
}
.btn-news-archive {
  justify-content: flex-end;
}
.nav-main {
  background-color: #168198;
}
.nav-main .nav-collapse .nav > li a {
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
}
.nav-main .nav {
  margin-top: 15px;
  margin-bottom: 15px;
}
.nav-main .nav a {
  color: #ffffff;
}
.nav-main .nav a:hover,
.nav-main .nav a:focus {
  background-color: #78388e;
}
.nav-main .nav .active a {
  background-color: #78388e;
}
@media (min-width: 1200px) {
  .nav-main .nav > li:not(:first-child) {
    margin-left: 7.5px;
  }
}
/* Search */
.module-hero-search {
  width: 35%;
  margin: 0;
  padding: 0;
}
.module-hero-search .search-form {
  padding: 0;
  border: 0;
}
.module-hero-search .search-form input {
  border-radius: 30px;
}
.module-hero-search .search-input {
  margin-bottom: 0;
}
.module-hero-search .search-input input {
  border-width: 3px;
  border-color: #78388e;
}
.module-hero-search .search-input input:focus {
  border-color: #168198;
}
.module-hero-search .search-input button i {
  color: #78388e;
}
.module-hero-search .search-input button i:hover {
  color: #168198;
}
.search-form .search-input.search-giant button {
  margin-top: -15px;
}
/* Topics */
.module-topics-list {
  margin: 0;
  list-style: none;
}
.module-topics-list .topic {
  padding: 15px 10px 10px;
  display: block;
  font-weight: 700;
}
.module-topics-list .topic-title {
  margin-top: 7.5px;
  display: block;
}
.module-topics-list li {
  max-width: 129px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}
.toolbar .breadcrumb {
  font-size: 14px;
}
.toolbar .breadcrumb li {
  margin-right: 6px;
}
.toolbar .breadcrumb li:after {
  margin-left: 6px;
}
.toolbar .breadcrumb a {
  font-weight: 400;
}
.news-header {
  background-color: #caced7;
  padding: 6px 15px;
}
.news-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-bottom;
  color: #4b5363;
  min-height: 300px;
  margin: 20px 0 30px;
  transition: 200ms padding-top ease-in-out 20ms;
}
.news-item:hover,
.news-item:focus {
  color: #168198;
  text-decoration: none;
}
.news-item-title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  display: block;
  z-index: 1;
}
.news-item-description {
  position: relative;
  display: block;
  padding-top: 15px;
  z-index: 1;
}
.news-item-title,
.news-item-description {
  padding-left: 15px;
  padding-right: 15px;
}
.news-item-photo {
  max-height: 150px;
  margin-bottom: 15px;
  width: auto;
}
.add-dataset-modal {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  z-index: 1050;
  display: none;
}
.add-dataset-modal-box {
  display: table-cell;
  background-color: #ffffff;
  border: 1px solid #999;
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
  outline: none;
  text-align: center;
}
.add-dataset-modal-description {
  margin-top: 30px;
}
.add-dataset-modal-description p {
  font-weight: bold;
}
.add-dataset-modal-description ul {
  text-align: left;
}
.add-dataset-modal .close {
  font-size: 35px;
  color: white;
  position: relative;
  top: -32px;
}
.add-dataset-modal-backdrop {
  display: none;
}
/*# sourceMappingURL=tayside.css.map */